<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073698520337-1ddanormgm36ekmcknivpq2vcpjjm56t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073698520337-1ddanormgm36ekmcknivpq2vcpjjm56t</string>
	<key>API_KEY</key>
	<string>AIzaSyCbYkcfj1ItiAebyUIYPwaYG_AOrPftttE</string>
	<key>GCM_SENDER_ID</key>
	<string>1073698520337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betatesting.ShakeOnIt</string>
	<key>PROJECT_ID</key>
	<string>shake-on-it-cfd6c</string>
	<key>STORAGE_BUCKET</key>
	<string>shake-on-it-cfd6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073698520337:ios:f82a03bc42b9f855e4e0b0</string>
</dict>
</plist>